.searchbar{
    width: 12rem;
    padding: 0 var(--space_base);
    font-weight: var(--text_light);
    font-size: var(--space_mini);
    line-height: var(--space_base);
    letter-spacing: -0.015em;
    color: var(--dark_blue);
    margin-right: var(--space_base);
}

.searchbar:focus {
    outline: none;
}
  
.searchbar:hover {
    outline: none;
}

.searchbar_container {
    display: flex;
    justify-content: flex-end;
    margin: var(--space_tiny);
    width: 100%;
}