.details__return {
  padding: 0.5rem;
  margin-top: var(--space_mini);
  margin-bottom: var(--space_tiny);
  align-self: end;
  background-color: var(--blue);
  color: white;
  font-size: var(--text_base);
  align-self: flex-start;
}
.details__return__container {
  display: flex;
  justify-content: flex-end;
}

.flower__container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details__container {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--space_mini);
  flex-direction: row;
  max-width: 600px;
  margin: auto;
  justify-content: flex-end;
}

.details__image__container {
  padding-top: var(--space_mini);
  display: flex;
  justify-content: flex-end;
}

.details__image {
  object-fit: cover;
  border-radius: 15px;
  height: auto !important;
  position: relative !important;
}

.details__data {
  margin-left: var(--space_mini);
  margin-top: var(--space_mini);
  padding: var(--space_tiny);
  border: solid 1px var(--dark_blue);
  border-radius: 15px;
}

.details__data dt {
  font-size: var(--text_h3);
  color: var(--dark_blue);
}

.details__data dd {
  font-size: var(--text_h4);
  color: var(--blue);
  padding: var(--space_tiny);
}
